[submodule "js-testing-fundamentals"]
	path = js-testing-fundamentals
	url = https://github.com/spfave/js-testing-fundamentals.git
[submodule "js-mocking-fundamentals"]
	path = js-mocking-fundamentals
	url = https://github.com/spfave/js-mocking-fundamentals.git
[submodule "static-testing-tools"]
	path = static-testing-tools
	url = https://github.com/spfave/static-testing-tools.git
[submodule "dom-testing-library-with-anything"]
	path = dom-testing-library-with-anything
	url = https://github.com/spfave/dom-testing-library-with-anything.git
[submodule "jest-cypress-react-babel-webpack"]
	path = jest-cypress-react-babel-webpack
	url = https://github.com/spfave/jest-cypress-react-babel-webpack.git
